 
h1 {
    width: 100%;
    height: 158px;
}

.logo {
    top: -70px;
    position: relative;
}
 
.btn-primary{
    background-color: #FF4A35 !important;
    border-color: #FF4A35 !important;
}

#sair {
padding-left: 15px;
font-size: 20px;
cursor: pointer;
}

.opcoes {
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}

.opcoes #botoes, .opcoes #botoes2, .opcoes #botoes3 {
    font-family:'Tenor Sans', sans-serif;
    margin: 0 0 0 13px;
    border: 1px solid #fcfafa;
    padding: 12px 20px;
    border-radius: 5px;
    background: rgb(250, 250, 250);
    margin-bottom: 0.2em;
    box-shadow: 2px 2px 2px #a89292;
    font-size: 16px;
    cursor: pointer;
}

.titulo {
    padding-bottom: 30px;
}

.cadastro {
    border: 1px solid #afadad;
    border-radius: 2px;
    padding-top: 20px;
    margin: auto;
    font-size: 18px;
    font-family:'Tenor Sans', sans-serif;
    background: rgb(250, 250, 250);	
    text-align: center;
}

.cadastro tr td {
    padding-top: 15px;
}

.cadastro form {
    padding-top: 25px;
    font-size: 15px;
}

.campo {
    padding-left: 75px;
    text-align: left;
    margin-bottom: 0.8em;
}

.campo label {
    font-family: 'Tenor Sans',sans-serif;
    display: block;
    margin-bottom: 0.2em;
}
 

.campo select {
    width: 426px;
    height: 40px;
    border: 1px solid #afadad;
    border-radius: 3px;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: white url('imagens/seta-baixa.png') 99% 50% no-repeat;
    background-size: 20px;
}

.cadastrar {
    text-align: center;
    margin-bottom: 1.5em;
}
 

strong {
    color: #861111;
}


#mostrar, #mostrar2 {
  margin-left: -30px;
  cursor: pointer;
}

#ocultar, #ocultar2 {
  display: none;
}

.form-control{
    margin-bottom:15px;
}

.btn-primary{
    background-color: #FF4A35 !important;
    border-color: #FF4A35 !important;
}

.tituloform{
    margin-bottom: 25px;
}

.cadastro{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
}

@media screen and (max-width: 280px) {
    body, .cadastro, .campo, .titulo {
        width: auto;
        margin-left: 0px;
    }

    .cadastro {
        border: none;
    }

    .caixa {    
        height: 205px;
        text-align: center;
    }
 

 

    .campo select {
        width: 110px;
    }
}

@media screen and (max-width:380px) {
    
    body, .cadastro, .campo, .titulo {
        width: auto;
        margin-left: 0px;
    }

    .cadastro {
        border: none;
    }

    .caixa {    
        height: 205px;
        text-align: center;
    }
 

    .campo select {
        width: 215px;
    }
}

@media screen and (min-width: 380px) and (max-width: 499px) {
    body, .cadastro, .campo, .titulo {
        width: auto;
        margin-left: 0px;
    }

    .cadastro {
        border: none;
    }

    .caixa {    
        height: 205px;
        text-align: center;
    }
 

    .campo select {
        width: 251px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    body, .campo, .titulo {
        width: auto;
        margin-left: 0px;
    }

    .caixa {    
        height: 205px;
        text-align: center;
    }

    .cadastro { 
        width: 600px;
        margin: auto;
    }
 

}

@media screen and (min-width: 500px) and (max-width: 750px) {
    body, .cadastro, .campo, .titulo {
        width: auto;
        margin-left: 0px;
    }

    .caixa {    
        height: 205px;
        text-align: center;
    }

    .cadastro {
        width: 420px;
        margin: auto;
    }
 

    

    .campo select {
        width: 267px;
    }
}

.deletebtn {
    color: white !important;
}