body {
    font-family: 'Tenor Sans', sans-serif;
    /* width: 100vw;
    height: 100vh; */
    box-sizing: border-box;
}
.fa-cart-plus{
    cursor: pointer; 
}

.grid-container {
    width: 32% !important;
}
@media screen and (max-width: 768px){
    .navut{
        margin-right: 1px !important;
    }
    .carticon{
        line-height: 42pt !important;
    }
    .grid-container {
        width: 96% !important;
    }
    .navlogo{
        width:150px;
        margin-left: 15px;
    }
    .searchicon{
        left:22px;
    }
    .searchfield{    
        height:40px;
        padding-left:25px;  
        width:92%;
        background-color: rgb(196 196 196 / 45%); 
        border:none;
        border-radius:5px;
        font-size: 12px;
        }
    .grid-container {
        display: grid;
        grid-template-columns: 40% auto;  
        width:100vw; 
        margin:5px;
      }
      
      .inside-grid-container {
        display: grid;
        grid-template-columns: auto;  
      }
      
      .inside-inside-grid-container {
        display: grid;
        grid-template-columns: auto auto;  
      }
      
      .grid-container > div {
        background-color: #ffffff; 
        padding:  0; 
      }
      
      .inside-grid-container > div {
        background-color: #ffffff;  
      }
      
      .inside-inside-grid-container > div {
        background-color: #ffffff;  
      }
    
      .item5 {
        text-align: right;
    }  
}
@media screen and (min-width: 768px) and (max-width: 1900px)  {
    .carticon{
        line-height: 40pt !important;
    }
    .navlogo{
        width:175px;
    }
    .searchicon{
        left:27px;
    }
    .searchfield{    
        height:40px;
        padding-left:35px;  
        width:50%;
        background-color: rgb(196 196 196 / 45%); 
        border:none;
        border-radius:5px;
        }
    .navut{ 
        width:60%;
        margin-top:10px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 40% auto;  
        width:32vw; 
        margin:5px;
      }
      
      .inside-grid-container {
        display: grid;
        grid-template-columns: auto;  
      }
      
      .inside-inside-grid-container {
        display: grid;
        grid-template-columns: auto auto;  
      }
      
      .grid-container > div {
        background-color: #ffffff; 
        padding:  0; 
      }
      
      .inside-grid-container > div {
        background-color: #ffffff;  
      }
      
      .inside-inside-grid-container > div {
        background-color: #ffffff;  
      }
    
      .item5 {
        text-align: right;
    }  
}



.leftside{
    display: grid;
    height:10vh;
    width: 40%;
}
.rightside{
    display: grid;
    height:10vh;
    width: 40%;
}

img.img-fluid.logo {
    width: 20%;
    margin-left: -1.5em;
}

.pesquisa {
    width: 55%;
    padding: 7px 7px 7px 40px;
    border-radius: 6px;
    text-align: center;
    outline: none;
    text-decoration: none;
    border: 0;
    font-size: 18px;
    background: rgba(196, 196, 196, 0.19);
    border-color: rgba(196, 196, 196, 0.19);
    justify-content: center; 

}



 

 

a:visited { text-decoration: none; color:black }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

.buonaCena-banner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    width: 22%;
    height: 30%;
    border-radius: 10px;
    top: 9em;
    word-break: break-all;
    font-size: 18px;
}
.bc{
    position: relative;
    color: #EDE9E9;
    padding: 0;
    word-break: break-word;
    top: -2em;
}
.bc:nth-child(1) {
    position: relative;
    top: 0.5em;
    left: 1em;
    z-index: 80;
   
}
.bc:nth-child(2){
    position: relative;
    left: 10em;
    top: -3.4em;
    z-index: 80;
}

.carousel-item {
    width: 100%; 
}

.carousel-control-next {
    filter: invert(100%) !important; 
}
.carousel-control-prev {
    filter: invert(100%) !important;
}

h2 {
    font-weight: bold;
    padding: 20px 0;
    text-align: left;
    margin: 0 auto;
}

.acompanhamentos {
    margin: 0.5em;
}

div.col-sm {
    width: 30%;
    border: 1px solid rgba(218, 193, 193, 0.81);
    margin: 0 1em;
    padding: 20px;
    height: 150px
}    

.img {
    width: 40%;
    border-radius: 5px;
    height: 125px;
    padding: 0;
    margin-left: -0.5em;
    margin-top: -0.5em;
}

p {
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.produto-descricao {
    display: flex;
    margin-left: 10em;
    margin-top: -8em;
    font-size: 16px;
}

.produto-preco {
    display: flex;
    margin-left: 10em;
    margin-top: 3em;
    font-size: 16px;
}


#preco-espaguete, #preco-panacota, #preco-tiramisu {
    margin-top: 2em;
}

#preco-ravioli, #preco-penne, #preco-agua, #preco-coca, #preco-suco {
    margin-top: 5em;
}

@media screen and (max-width:480px) {
    .navbar-brand {
        width: 18% !important;
        margin-left: -1.2em !important;
    }

    .pesquisa {
        position: absolute;
        width: 35% !important;
        font-size: 11px; 
        padding: 5px 5px 5px 15px;
    }
 
    img.d-block.w-100 {
        height: 80px !important;
    }

    .buonaCena-banner {
        display: none;
    }

    h2 {
        font-size: 1.3em !important;
    }
    .img {
        width: 30%;
        height: 85px;
        margin-top: -0.8em; 
        margin-left: -1em;    
    }
    .produto-descricao {
        font-size: 14px !important;
        margin-top: -6em;
        margin-left: 9em;
    }
    .produto-preco {
        position: absolute;
        font-size: 13px;
        left: 15px;
        top: 0;
    }

    div.col-sm {
        width: 100% !important;
        height: 100px !important;
        margin: 0;
    }   

}  
@media screen and (max-width: 320px) {
  

   
}

@media screen and (max-width: 375px) {
    .pesquisa {  
        font-size: 9px !important; 
    }
 
 

    .produto-descricao {
        margin-left: 6.5em !important;
    }   

    .produto-preco {
        margin-top: 75px !important;
        margin-left: 100px;
    }
 
}
@media screen and (max-width: 425px) {
 
    .produto-preco {
        margin-top: 70px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 925px) {   
    .pesquisa {
        position: absolute;
        left: 25em !important;
        font-size: 15px !important;
        top: 2em;
        width: 35%;
        margin: 0 !important;
        padding: 7px;
    } 
    .buonaCena-banner{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        margin-bottom: 0;
        width: 28%;
        height: 37%;
        border-radius: 10px;
        top: 6.5em;
        font-size: 13px;
    }
    .container-fluid > .row {
        display: flex;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.col-sm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 130px !important;
        width: 45% !important;
        padding: 10px;
    }   
    .img {
        width: 18% !important;
        height: 100px;
    }
    .produto-descricao {
        font-size: 17px !important;
        margin-top: -7em;
        margin-left: 9.5em
    }

    .produto-preco {
        font-size: 17px;
        margin-left: 12em !important;
    } 
}