{% extends 'base_backoffice.html' %}
{% block content %}  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="width: 100%;" class=flashes>
    {% for message in messages %}
      <div style="color:red;" class="alert alert-danger" role="alert">
        <li>{{ message }}</li>
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} 
<form class="cadastro" style="width: 43%;" action="{{ url_for('updatefuncionario', id=funcionario.id) }}" method="POST">
    <div class="tituloform"><center><a href="/cadastros"><i style="color:#F64B39" class="fas fa-list"></i></a>  ATUALIZAR FUNCIONÁRIO</center></div>
    <fieldset class="grupo"> <!--Serve para agrupar campos-->
        <div class="row">
            <div class="col-2">     
                <input type="hidden" name="id" id="id" class="form-control" value="{{ funcionario.id }}" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-12"> 
                <label for="nome" class="form-label">Nome Completo<strong>*</strong></label> 
                <input type="text" class="form-control" name="name" value="{{ funcionario.name }}" id="nome" required>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> 
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" value="{{ funcionario.email }}"  id="email">
            </div>
            <div class="col-6">  
                <label for="telefone" class="form-label">Telefone<strong>*</strong></label>
                <input type="tel" name="celular" class="form-control" id="telefone" value="{{ funcionario.celular }}" required>
            </div>
        </div> 
        <div class="row">
            <div class="col-6"> 
                <label for="senha" class="form-label">Nova senha</label>
                <input type='password' name="password" class="form-control" id="senha" maxlength="16" minLength="8">
            </div>
            <div class="col-6">  
                <label for="confirmacao"  class="form-label">Confirmar senha<strong></strong></label>
                <input type="password" name="confirmacao" class="form-control" id="confirmacao" maxlength="16" minLength="8">
            </div>
        </div> 
        <div class="row">
            <div class="col-12"> 
                <label for="permissao" class="form-label">Promover<strong></strong></label>
                <input id="cargo" class="form-control" value="{{ funcionario.cargo }}" type="text" name="cargo" readonly>
            </div>
            <div class="col-12" style="margin-bottom:30px;"> 
                <script>
                    function change(value){ 
                        document.getElementById("cargo").value=value;
                        }
                </script>
                <input type="button" class="btn" onclick="change('Atendente')" value="Atendente">
                <input type="button" class="btn" onclick="change('Entregador')" value="Entregador">
                <input type="button" class="btn" onclick="change('Gerente')" value="Gerente">
            </div>
        </div> 
        <div class="cadastrar">
            <input type="submit" name="Cadastrar" class="btn btn-primary" value="ATUALIZAR" onclick="validarSenha()">
        </div>
    </fieldset>
</form>
{% endblock %}