{% extends 'base_backoffice.html' %}
{% block content %}  
<form class="cadastro" style="width: 43%;" action="{{ url_for('updatecardapio', id=item.id ) }}" method="POST" enctype="multipart/form-data">
    <div class="tituloform"><center><a href="/cadastros/produtos" class="tituloform"><i style="color:#F64B39" class="fas fa-list"></i></a>  ATUALIZAR PRODUTO</center></div>
    <fieldset class="grupo"> <!--Serve para agrupar campos-->
        <div class="row">
            <div class="col-6">
            <label for="nome" class="form-label">ID do produto<strong></strong></label> 
            <input type="text" name="id" class="form-control" id="id" value="{{ item.id }}" disabled>
            </div> 
            <div class="col-6">
            <label for="nome" class="form-label">Nome do item<strong>*</strong></label> 
            <input type="text" name="nome" class="form-control" id="nome" value="{{ item.nome }}" required>
            </div>
        </div>
        <div class="row">
        <div class="col-6">
            <label for="valor" class="form-label">Valor<strong>*</strong></label>
            <input type="text" class="form-control" name="valor" id="valor" value="{{ item.valor }}" required>
        </div>
        <div class="col-6">
            <label for="valor" class="form-label">Valor Promocional<strong></strong></label>
            <input type="text" class="form-control" name="promocional" id="valor" value="{{ item.promocional }}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <label for="descricao" class="form-label">Descrição do produto<strong>*</strong></label><br>
          <textarea   name="descricao" class="form-control" id="descricao" required>{{ item.descricao }}</textarea>
        </div>
    </div> 
      <!--<div class="campo">
          <label for="upload">Thumbnail</label>
          <input type="text" name="thumb" id="thumb" required>
      </div> -->
      <div class="row">
        <div class="col-12">
          <label for="descricao">Foto<strong></strong></label>
          <input  class="form-control" type="file" name="thumb" id="thumb">
          </div>
      </div> 
        <div class="cadastrar">
            <input type="submit" class="btn btn-primary" name="Cadastrar" value="CADASTRAR">
        </div>
    </fieldset>
</form>
{% endblock %}