<!-- <form action="{{ url_for('register') }}" method="POST">
    <input type='text' name="name" placeholder="Nome completo"name="name" placeholder="Nome completo">
    <input type='email' name="email" placeholder="E-mail">
    <input type='password' name="password" placeholder="Senha">
    <input type='submit' name="Cadastrar">
</form> -->

{% extends 'base_backoffice.html' %}

{% block content %}
<script>
 

     function tabFuncionarios(){
        document.getElementById("ListaDeProdutos").style.display = "none";
        document.getElementById("CadastroDeFuncionarios").style.display = "none";
        document.getElementById("ListaDeFuncionarios").style.display = "block";
        document.getElementById("CadastroDeProdutos").style.display = "none";
    }
    function AdicionarUsuarios(){
        document.getElementById("ListaDeFuncionarios").style.display = "none";
        document.getElementById("CadastroDeFuncionarios").style.display = "block";
    }
    function ListaDeFuncionarios(){
        document.getElementById("ListaDeFuncionarios").style.display = "block";
        document.getElementById("CadastroDeFuncionarios").style.display = "none";
    }
    function tabProdutos(){
        document.getElementById("ListaDeFuncionarios").style.display = "none";
        document.getElementById("CadastroDeFuncionarios").style.display = "none";
        document.getElementById("ListaDeProdutos").style.display = "block";
    }
    function AdicionarProdutos(){
        document.getElementById("ListaDeProdutos").style.display = "none";
        document.getElementById("CadastroDeProdutos").style.display = "block";
    }
    function ListaDeProdutos(){
        document.getElementById("ListaDeProdutos").style.display = "block";
        document.getElementById("CadastroDeProdutos").style.display = "none";
    }

    function validaTab(){ 
        var tab = "{{ tab }}";
        if (tab == "produtos"){
            $(document).ready( function () {
            tabProdutos();
            });
        }
    }

    validaTab()
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     {% with messages = get_flashed_messages() %}
     {% if messages %}
       <ul style="width: 100%;" class=flashes>
       {% for message in messages %}
         <div class="alert alert-success" role="alert">
           <li>{{ message }}</li>
         </div>
       {% endfor %}
       </ul>
     {% endif %}
   {% endwith %} 
     <div class="opcoes">
        <button id="botoes" onclick="tabFuncionarios()">Funcionários</button>
        <button id="botoes2" onclick="tabProdutos()">Produto</button> 
    </div>
    <div class="cadastro" style="width: 85%" id="ListaDeFuncionarios">
        <table class="table table-striped mt-3">
            <tbody>
            <th>
                <td>
                Nome
                </td>
                <td>
                E-mail
                </td>
                <td>
                Cargo
                </td>
                <td>
                Contato
                </td>
                <td>
                    &nbsp;
                </td>
                <td style="color: rgb(0, 161, 35);">
                    <a onclick="AdicionarUsuarios()"><i class="fas fa-user-plus"></i></a>
                </td>
            </th>
            {% for user in users %}
            <tr>
            <td>
                {{ user.id }}     
            </td>
            <td>
                {{ user.name }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.cargo }}
            </td>
            <td>
                {{ user.celular }}
            </td>
            <td>
                <a href="{{ url_for('atualizarfuncionario', id=user.id) }}" class="btn btn-warning btn-sm">
                    <i aria-hidden="true" style="color:white;" class="fas fa-edit"></i>
                </a>
            </td>
            <td>  
                <a class="btn btn-danger btn-sm deletebtn" href="{{ url_for('delete', id=user.id) }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div id="CadastroDeFuncionarios" style="display:none;">   
      <form class="cadastro" style="width: 50%;" action="{{ url_for('register') }}" method="POST">
        <div class="tituloform"><center><a href="/cadastros"><i style="color:#F64B39" class="fas fa-list"></i></a>  CADASTRAR FUNCIONÁRIO</center></div>
            <fieldset class="grupo"> <!--Serve para agrupar campos-->
                <div class="row">
                    <div class="col-12"> 
                        <label for="nome" class="form-label">Nome Completo<strong>*</strong></label> 
                        <input type="text" class="form-control" name="name" id="nome" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"> 
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div class="col-6">  
                        <label for="telefone" class="form-label">Telefone<strong>*</strong></label>
                        <input type="tel" name="celular" class="form-control" id="telefone" required>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-6"> 
                        <label for="senha" class="form-label">Senha<strong>*</strong></label>
                        <input type='password' class="form-control" name="password"  id="senha" maxlength="16" minLength="8" required="">
                    </div>
                    <div class="col-6">  
                        <label for="confirmacao" class="form-label">Confirme sua senha*</label>
                        <input type="password" class="form-control" name="confirmacao" id="confirmacao" maxlength="16" minLength="8" required="">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12"> 
                        <label for="permissao" class="form-label">Cargo<strong>*</strong></label>
                        <select id="permissao" class="form-control" name="cargo">
                            <option selected disabled value="">Selecione</option>
                            <option value="atendente">Atendente</option>
                            <option value="entregador">Entregador</option>
                            <option value="gerente">Gerente</option>
                        </select>
                    </div>
                </div> 
                <div class="cadastrar">
                    <input type="submit" class="btn btn-primary" name="Cadastrar" value="CADASTRAR" onclick="validarSenha()">
                </div>
            </fieldset>
        </form>
    </div> 
    <div id="CadastroDeProdutos" style="display:none;">   
        <form class="cadastro" style="width: 50%;" action="{{ url_for('registerCardapio') }}" method = "POST" enctype = "multipart/form-data">
            <div class="tituloform"><center><a href="/cadastros/produtos"><i style="color:#F64B39" class="fas fa-list"></i></a>  CADASTRAR PRODUTO</center></div>
              <fieldset class="grupo"> <!--Serve para agrupar campos-->
                <div class="row">
                    <div class="col-12">
                        <label for="nome" class="form-label">Nome do item<strong>*</strong></label> 
                        <input type="text" class="form-control" name="nome" id="nome" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"> 
                        <label for="tipo" class="form-label">Tipo<strong>*</strong></label>
                        <select id="tipo" class="form-control" name="tipo">
                            <option selected disabled value="">Selecione</option>
                            <option value="bebidas">bebidas</option>
                            <option value="pratos">pratos</option>
                            <option value="sobremesas">sobremesas</option>
                        </select>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-6"> 
                            <label for="valor" class="form-label">Valor<strong>*</strong></label>
                            <input type="text" class="form-control" name="valor" id="valor" required>
                        </div>
                        <div class="col-6"> 
                            <label for="descricao" class="form-label">Foto<strong></strong></label>
                            <input type="file" name="thumb" class="form-control" id="thumb" required>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-12">  
                        <label for="descricao" class="form-label">Descrição<strong>*</strong></label>
                        <textarea type="text" class="form-control" name="descricao" id="descricao" required></textarea>
                    </div>
                </div> 
                <!--<div class="campo">
                    <label for="upload">Thumbnail</label>
                    <input type="text" name="thumb" id="thumb" required>
                </div> --> 
                  <div class="cadastrar">
                      <input type="submit" class="btn btn-primary" name="Cadastrar" value="CADASTRAR">
                  </div>
              </fieldset>
          </form>
      </div> 
      <div class="cadastro" style="width: 70%;display:none;" id="ListaDeProdutos">
        <table class="table table-striped mt-3">
            <tbody>
            <th>
                <td>
                Item
                </td>
                <td>
                Tipo
                </td>
                <td>
                Valor
                </td>
                <td>
                Foto
                </td>
                <td>
                    &nbsp;
                </td>
                <td style="color: rgb(0, 161, 35);">
                    <a onclick="AdicionarProdutos()"><i class="fas fa-folder-plus"></i></a>
                </td>
            </th>
            {% for cardapio in cardapios %}
            <tr>
                <td>
                    {{ cardapio.id }}     
                </td>
                <td>
                    {{ cardapio.nome }}
                </td>
                <td>
                    {{ cardapio.tipo }}
                </td>
                <td>
                    {% if cardapio.promocional %}
                        R$ {{ cardapio.promocional }}
                        <del>R$ {{ cardapio.valor }} </del> 
                    {% else %}
                        R$ {{ cardapio.valor }}
                    {% endif %}
                </td>
                <td>
                    <img style="width: 50px;" src="/uploads/{{ cardapio.thumb }}">
                </td>
                <td>
                    <a href="{{ url_for('atualizarcardapio', id=cardapio.id) }}" class="btn btn-warning btn-sm">
                        <i aria-hidden="true" style="color:white;" class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm deletebtn" href="{{ url_for('delete_cardapio', id=cardapio.id) }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
        </div>
    &nbsp;
</main>
  {% endblock %}