{% extends 'base_backoffice.html' %}

{% block content %}
<link rel="stylesheet" href="/css/checkout.css">

<!-- Primeira tela - tipo de serviço -->
<div class="card text-center tipoPedido justify-content-center" id="escolhaTipoServico">
    <div class="card-header titulo-tipoServico">
      Tipo de pedido
    </div>
    <div class="card-body">
      <div class="col-sm escolhaServico justify-content-center align-items-center" data-toggle="" data-target="" data-dismiss="">Retirar no balcão</div>
      <div class="col-sm escolhaServico justify-content-center align-items-center" data-toggle="">Entrega</div>
    </div>
</div>

<!-- Segunda tela - realizar pedido balcão -->
<div class="card pedidos text-center" id="realizarPedidoBalcao">
    <div class="card-header titulo-realizarPedido">
      Realizar pedido
    </div>
    <div class="card-body">
      <h5 class="card-title titulo">pedido</h5>
      <ul class="listaProdutosFinalizados">
        <li>1x Penne al pesto trapanese; | <button type="button" class="removerItem">Remover</button></li>
        <li>1x Ravióli de Brie e Damasco; | <button type="button" class="removerItem">Remover</button></li>
        <li>2x Tiramisú; | <button type="button" class="removerItem">Remover</button></li>
        <li>1x Coca-Cola; | <button type="button" class="removerItem">Remover</button></li>
        <li>1x Suco de laranja; | <button type="button" class="removerItem">Remover</button></li>
      </ul>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item maisItens d-flex flex-column justify-content-center align-items-center"><a href="#">Adicionar mais itens</a></li>
      <li class="list-group-item quemRetira">Quem irá retirar</li>
    </ul>
    <form>
      <ul>
        <li class="list-group-item">
          <label for="recipient-name" class="text-left nomeCompleto">Nome completo*</label>
          <input type="text" class="form-control" id="recipient-name" placeholder="Ex: Gabriela Rocha Santos" required></li>
          <li class="list-group-item">
          <label for="recipient-name" class="text-left email">E-mail*</label>
          <input type="text" class="form-control" id="recipient-name" placeholder="Ex: gabrielarocha@meuemail.com" required></li>
      </ul>
    </form>
    <a href="#"><button type="button" class="btn botaoProsseguir" data-toggle="" data-target="" data-dismiss="modal">Prosseguir</button></a>
</div>

<!-- terceira tela - finalizar pedido balcão -->
<div class="card text-center" id="finalizarPedidoBalcao">
  <div class="card-header">
    <span class="tiposPedidos">Tipo de pedido: Balcão</span><br>
    <span class="tiposPedidos">Buonna Cenna</span>
    <i class="fas fa-search lupaPesquisa"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title titulo">Pedido</h5>
    <ul class="list-group list-group-flush listaProdutosFinalizados">
      <li>1x Penne al pesto trapanese;</li>
      <li>1x Ravióli de Brie e Damasco;</li>
      <li>2x Tiramisú; </li>
      <li>1x Coca-Cola;</li>
      <li>1x Suco de laranja;</li>
    </ul>
  </div>
  <div>
    <ul class="list-group list-group">
      <li class="list-group-item">
        <i class="fas fa-tags icones"></i>
        <h6 class="cupom">Cupom</h6>
        <input type="text" class="form-control" id="recipient-name" placeholder="Insira o código do cupom" required>
      </li>
      <li class="list-group-item">        
        <h6 class="sTotal">Subtotal</h6>
        <small class="subValor">R$122,80</small>
      </li>
      <li class="list-group-item">
        <h6 class="toTal">Total</h6>
        <small class="valorTotal">R$122,80</small>
      </li>
      <li class="list-group-item">
        <i class="fas fa-dollar-sign icones"></i>
        <h6 class="cupom">Pagamento</h6>
        <p class="pagamento pb-0">Selecione a forma de pagamento</p>
      </li>
      <li class="list-group-item">
        <label for="recipient-name" class="cpf">Deseja CPF/CNPJ na nota?</label>
        <input type="text" class="form-control" id="recipient-name" placeholder="Ex: ***.***.***.**" required>
      </li>
    </ul>
    <button type="button" class="btn botaoVoltar" data-toggle="" data-target="" data-dismiss="">Voltar</button>
    <button type="button" class="btn botaoProsseguirFinalizar" data-toggle="" data-target="" data-dismiss="">Fazer pedido</button>
  </div>
</div>

  <!-- Quarta tela - número do pedido -->
<div class="card text-center bg-light mb-3">
  <div class="card-header nPedidoFinalizado">Pedido finalizado</div>
  <div class="card cardNumeroPFinalizado">
    <div class="card-body justify-content-center align-items-center">
      <h5 class="card-title nPedido">Pedido<a class="numeroPedido" href="">#0349</a></h5>   
    </div>
  </div>
</div>

{% endblock %}