
{% extends 'base_cliente.html' %}

{% block content %}  
{% if nmr_banners_ativos >= 1 %}
<div id="carouselExampleIndicators" style="width:100%;" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for banner in banners %}
      {% if banner.status == 1 %}
      <div class="carousel-item active">
        <a href="{{ banner.link }}" target="_blank"><img style="width:100%;" src="/uploads/{{ banner.image }}" class="d-block w-100" alt="..."></a>
      </div>  
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endif %}
            <h2>Pratos</h2>
            <div class="row"> 
                {% for cardapio in cardapios if cardapio.tipo == "pratos" %} 
                <div class="grid-container" style="border: 2px solid #cfcdcd;padding:10px;border-radius:5px;">
                    <div class="item1" style="border-radius:5px;" ><img  src="/uploads/{{ cardapio.thumb }}" alt="" ></div>
                    <div class="item2" style="padding-left: 10px;">
                      <div class="inside-grid-container" style="height: 100px;">
                        <div class="item3">{{ cardapio.nome }}</div>  
                      </div>
                      <div class="inside-inside-grid-container">
                        <div class="item4"> 
                          {% if cardapio.promocional %}
                              R$ {{ cardapio.promocional }}
                              <del>R$ {{ cardapio.valor }} </del> 
                          {% else %}
                              R$ {{ cardapio.valor }}
                          {% endif %}
                        </div>  
                        <div class="item5"><i onclick="addToCart({{ cardapio.id }})" class="fas fa-cart-plus"></i></div>  
                      </div>
                    </div>
                  </div>
                  {% endfor %} 
            
                </div>

         <h2>Bebidas</h2>
            <div class="row"> 
                {% for cardapio in cardapios if cardapio.tipo == "bebidas" %} 
                <div class="grid-container" style="border: 2px solid #cfcdcd;padding:10px;border-radius:5px;">
                    <div class="item1" style="border-radius:5px;" ><img  src="/uploads/{{ cardapio.thumb }}" alt="" ></div>
                    <div class="item2" style="padding-left: 10px;">
                      <div class="inside-grid-container" style="height: 100px;">
                        <div class="item3">{{ cardapio.nome }}</div>  
                      </div>
                      <div class="inside-inside-grid-container">
                        <div class="item4"> 
                          {% if cardapio.promocional %}
                              R$ {{ cardapio.promocional }}
                              <del>R$ {{ cardapio.valor }} </del> 
                          {% else %}
                              R$ {{ cardapio.valor }}
                          {% endif %}
                        </div>  
                        <div class="item5"><i onclick="addToCart({{ cardapio.id }})" class="fas fa-cart-plus"></i></div>  
                      </div>
                    </div>
                  </div>
                  {% endfor %} 
            
                </div>
            

         <h2>Sobremesas</h2>
            <div class="row"> 
                {% for cardapio in cardapios if cardapio.tipo == "sobremesas" %} 
                <div class="grid-container" style="border: 2px solid #cfcdcd;padding:10px;border-radius:5px;">
                    <div class="item1" style="border-radius:5px;" ><img  src="/uploads/{{ cardapio.thumb }}" alt="" ></div>
                    <div class="item2" style="padding-left: 10px;">
                      <div class="inside-grid-container" style="height: 100px;">
                        <div class="item3">{{ cardapio.nome }}</div>  
                      </div>
                      <div class="inside-inside-grid-container">
                        <div class="item4"> 
                          {% if cardapio.promocional %}
                              R$ {{ cardapio.promocional }}
                              <del>R$ {{ cardapio.valor }} </del> 
                          {% else %}
                              R$ {{ cardapio.valor }}
                          {% endif %}
                        </div>    
                        <div class="item5"><i onclick="addToCart({{ cardapio.id }})" class="fas fa-cart-plus"></i></div>  
                      </div>
                    </div>
                  </div>
                  {% endfor %} 
            
                </div>
             
    <script type="text/javascript" src="js/script.js"></script>
    {% endblock %}