
{% extends 'base_cliente.html' %}

{% block content %}  
<script>
    function addToCart(productId) {
        fetch('/cart/productId', 
            {method: 'POST'}
        )
    }
    </script>
    <main> 
            <h2>Pratos</h2>
           
            <ul class="container"> 
                {% for cardapio in cardapios if cardapio.tipo == "pratos" %} 
                        <li style=" margin-left:20px;">
                            <img src="/uploads/{{ cardapio.thumb }}" class="img">
                            <p class="produto-descricao">{{ cardapio.nome }}</p>
                            <p class="produto-preco">R$ {{ cardapio.valor }}</p>
                            <i class="fas fa-cart-plus"></i>
                        </li> 
                      {% endfor %} 
                  </div> 
            </ul> 

            <h2>Bebidas</h2>

            <ul class="container"> 
                {% for cardapio in cardapios if cardapio.tipo == "bebidas" %} 
                        <li style=" margin-left:20px;">
                            <img src="/uploads/{{ cardapio.thumb }}" class="img">
                            <p class="produto-descricao">{{ cardapio.nome }}</p>
                            <p class="produto-preco">R$ {{ cardapio.valor }}</p>
                            <i onclick="addToCart({{cardapio.id}})" class="fas fa-cart-plus"></i>
                        </li> 
                      {% endfor %} 
                  </div> 
            </ul> 

            <h2>Sobremesas</h2>

            <ul class="container"> 
                {% for cardapio in cardapios if cardapio.tipo == "sobremesas" %} 
                        <li style=" margin-left:20px;">
                            <img src="/uploads/{{ cardapio.thumb }}" class="img">
                            <p class="produto-descricao">{{ cardapio.nome }}</p>
                            <p class="produto-preco">R$ {{ cardapio.valor }}</p>
                            <i class="fas fa-cart-plus"></i>
                        </li> 
                      {% endfor %} 
                  </div> 
            </ul> 
  
    </main>
    <script type="text/javascript" src="js/script.js"></script>
    {% endblock %}