<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/logosemfundo1.png" type="image/x-icon">
    <link href="../public/fontawesome/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="/js/script.js"></script>
    <title>Login</title>
  </head>
  
  <body id="fundo">
    <div  id="telaLogin">
      <div class="topo">
        <img class="imglogin" src="/img/logosemfundo2.png" width="100%" alt="logo">
      </div>
        <div class="card-body">
          <form action="{{ url_for('login') }}" method="POST">
            <div>
              <p>Informe suas credenciais:</p>
              <label for="idfuncionario"></label>
              <input type="email" name="email" id="idfuncionario" placeholder="E-mail" class="formlogin" required>

              <label for="senha"></label>
              <input type="password"  name="password" id="senha" placeholder="Senha" class="formlogin" required>
 
              <i class="fas fa-eye-slash" id="ocultar" onclick="mostrarOcultarSenha()"></i>
              <i class="fas fa-eye" id="mostrar" onclick="mostrarOcultarSenha()"></i>
            </div>  
            <button type="submit" name="Cadastrar" class="btn">Entrar</button>
        </form>  
      </div>
    </div>
  </body>
</html>