{% extends 'base_backoffice.html' %}

{% block content %}
<style>
  .tab{
    width:75% !important;
    margin-left:auto;
    margin-right: auto;
    display: block;

  }
  
</style>
<section>
  <div class="row">
    <h1>PEDIDOS</h1>
  <div class="col-6"> 
    <ul class="container">
      {% for pedido in pedidos|reverse %}
      <a style="text-decoration: none;color:inherit;" href="/pedidos/{{pedido.id}}">
        <li class="tab">
          <p><strong>{{pedido.nome}}</strong>
            {% if pedido.status == 'entregue' %}
              <span class="cor-2" style="text-transform: capitalize;position: relative; display: block;  margin-left: auto; margin-right: 10px; margin-top: 10px;">{{pedido.status}}</span>
            {% elif pedido.status == 'a caminho' %}
              <span class="cor-3" style="text-transform: capitalize;position: relative; display: block;  margin-left: auto; margin-right: 10px; margin-top: 10px;">{{pedido.status}}</span>
            {% elif pedido.status == 'em preparo' %}
              <span class="cor-1" style="text-transform: capitalize;position: relative; display: block;  margin-left: auto; margin-right: 10px; margin-top: 10px;">{{pedido.status}}</span>
            {% elif pedido.status == 'pendente' %}
              <span class="cor-4" style="text-transform: capitalize;position: relative; display: block;  margin-left: auto; margin-right: 10px; margin-top: 10px;">{{pedido.status}}</span>
            {% endif %}

            

            {% set entrega = pedido.datentime.split(' ') %}
            {% set entrega = entrega[1].split(':') %}
            {% set entrega = '{}h{}'.format(entrega[0],entrega[1]) %}
            <p>Entregar até {{entrega}} - <span class="cor">#{{pedido.numero_pedido}} - {{pedido.tipo}}</span></p>
        </li>
      </a>
      {% endfor %}
      </ul>
    </div>
      <div class="col-6" > 
        <div style="border: 1px solid rgba(218, 193, 193, 0.81); padding: 25px; width:85%;">
          {% if pedido_selecionado.status == 'entregue' %}
              <span class="cor-2" style="text-transform: capitalize;position: relative !important; margin-left: auto; display: block; width: 70px; text-align: center;">{{pedido_selecionado.status}}</span>
            {% elif pedido_selecionado.status == 'a caminho' %}
              <span class="cor-3" style="text-transform: capitalize;position: relative !important; margin-left: auto; display: block; width: 80px; text-align: center;">{{pedido_selecionado.status}}</span>
            {% elif pedido_selecionado.status == 'em preparo' %}
              <span class="cor-1" style="text-transform: capitalize;position: relative !important; margin-left: auto; display: block; width: 90px; text-align: center;">{{pedido_selecionado.status}}</span>
            {% elif pedido_selecionado.status == 'pendente' %}
              <span class="cor-4" style="text-transform: capitalize;position: relative !important; margin-left: auto; display: block; width: 70px; text-align: center;">{{pedido_selecionado.status}}</span>
            {% endif %}
          <p><strong class="titulo-pedido">PEDIDO #{{pedido_selecionado.numero_pedido}}</strong><br>
            {% set entrega = pedido_selecionado.datentime.split(' ') %}
            {% set entrega = entrega[1].split(':') %}
            {% set entrega = '{}h{}'.format(entrega[0],entrega[1]) %}
          <p class="horario">Horário {{entrega}}</p>
          <p>Cliente - <b>&nbsp;{{pedido_selecionado.tipo}}</b></p>
          <p>
          {{pedido_selecionado.nome}}&nbsp;{% if pedido_selecionado.tipo == 'entrega' %}&nbsp;-&nbsp;{{pedido_selecionado.telefone}}{% endif %}</p>
          {% if pedido_selecionado.tipo == 'entrega' %}
          <p>Endereço de Entrega<br>
          {{pedido_selecionado.endereco}}</p>
          {% endif %}
          <p>Itens do Pedido<br>
            {% for item in itens_do_pedido %}
            {{item['quantidade']}}x&nbsp;{{item['produto']}};<br> 
            {% endfor %}
          </p>  
          {% if pedido_selecionado.status != 'entregue' %}
          <a href="/atualizar/pedido/{{pedido_selecionado.id}}"><button class="botao" style="margin: 0px;">CONFIRMAR</button></a>
          {% endif %} 
        </p>
      </div>
      </div>
</section>
{% endblock %}