{% extends 'base_backoffice.html' %}

{% block content %}
<section>
    <h1>PEDIDOS</h1>
    <ul class="container">
      <li>
        <p><strong>Bruna</strong>
          <span class="cor-2">DESPACHADO</span>
          <p>Entregar até 12h29 - <span class="cor">#002</span></p>
      </li>

        <li>
          <p><strong>Gabriel</strong><span class="cor-3">ENTREGADOR A CAMINHO</span></p>
          <p>Entregar até 12h50 - <span class="cor">#003</span></p>
        </li>

        <li>
          <p><strong>Manuela</strong><span class="cor-1">EM PREPARO</span></p>
          <p>Entregar até 13h15 - <span class="cor">#004</span></p>
        </li>
        
        <li>
          <p><strong>Lucas</strong><span class="cor-4">PENDENTE</span></p>
          <p>Entregar até 13h38 - <span class="cor">#005</span></p>
        </li>
        <li>
          <p><span class="cor-5">PENDENTE</span></p>
          <p><strong class="titulo-pedido">PEDIDO #001</strong><br>
          <p class="horario">Horário 12h10</p>
          <p>Cliente<br>
          Tiago
          (11) 97122-1468 #268713</p>
          <p>Endereço de Entrega<br>
          Rua Amador Bueno, 35 - Perdizes - SP</p>
          <p>Itens do Pedido<br>
          1- Penne al pesto trapanese;<br>
          1- Ravíoli de brie e damasco;<br>
          2- Tiramisù;<br>
          1- Coca-Cola;<br>
          1- Suco de Laranja.
          </p>
          <button class="botao">CONFIRMAR</button>
        </li>
      </ul>
      </div>
</section>
{% endblock %}